<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %l%n                        > %m%n" />
		</Console>
		<File name="file" fileName="./logs/literatureboy.log" append="false">
			<PatternLayout pattern="%d %-5p [%t] %l%n                        > %m%n" />
		</File>
	</Appenders>

	<Loggers>
		<Logger name="org.springframework" level="TRACE" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="com.setvect" level="TRACE" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</Logger>
		
		<Logger name="com.setvect" level="INFO" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</Logger>
		
		<Root level="TRACE">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>
